.nav-bar {
  display: flex;
  align-content: center;

  text-align: center;
  height: 80px;
}
/* ------------收合按鈕------------- */
.nav-bar-sm {
  display: none;
}


.nav-bar-left {
  display: flex;
  align-content: center;

  text-align: center;

  flex: 3;

}

.nav-bar-item {
  flex: 1;

  /* font-size: 1.5rem; */
  font-weight: 500;

  line-height: 40px;

  padding: 20px 0;

}
.nav-bar-item a {
  font-size: 23px;
}
.nav-bar-item+.nav-bar-item {
  font-size: 20px;

}

.nav-bar-item:hover {
  cursor: pointer;
}

.nav-bar-right {
  flex: 1;

  display: flex;
  align-items: center;
}
.nav-bar-right .icon-area {
  display: flex;
  height: 22px;
}
.nav-bar-right .icon-area a{
  display: block;
  height: 100%;
  padding: 0 8px;
}
.nav-bar-right .icon{
  height: 100%;
}
.nav-bar-right .search {
  width: 80%;
  display: flex;
  justify-content: center;
  
}
.nav-bar-right .search-item {
  width: 50%;
  border: 1.5px solid black;
  border-right: none;
  border-radius: 5px 0 0 5px;
  padding: 5px;

  font-size: 15px;
  font-weight: 500;
  color: black;
}
.nav-bar-right .search-icon {
  width: 25px;
  border: 1.5px solid black;
  border-left: none;
  border-radius: 0 5px 5px 0;
  /* display: flex; */
  background-color: #fff;
}
.nav-bar-right .search-icon img{
  vertical-align: middle;
  margin: auto;
  width: 70%;
}

/* -------------------small-nav-------------------- */
.small-nav {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 200px;
  right: 39px;

  z-index: 100;
}

.small-nav a{
  margin: 13px 0;
}
/* -------------------swiper-------------------- */
.swiper {
  display: flex;
  justify-content: center;

}

.swiper .left-icon {
  width: 40px;

  display: flex;
  align-items: center;
}

.swiper .left-icon img {
  width: 100%;
}

.swiper .right-icon {
  width: 40px;

  display: flex;
  align-items: center;
}

.swiper .right-icon img {
  width: 100%;
}





/* ----------------footer---------------- */
.footer {
  background-color: #046882;
  color: #fff;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
}
.footer .main-content {
  width: 90%;
  margin: 0 auto;

  padding: 40px 0 20px 0;
  border-bottom: 1px solid white;

  display: flex;
  /* flex-direction: ; */
  
}

.footer .section-1 {
  width: 280px;
  border-right: 1px solid #fff;

  display: flex;
  flex-direction: column;

  /* align-content: space-between; */
  justify-content: space-around;

  padding: 0 1% 0 3%;
  /* text-align: center; */
  font-size: 2.5rem;

  flex-grow: 1;
}
.footer .section-1 li {

  /* margin: 27px 0 27px 25px; */
}

.footer .section-2 {
  width: 620px;
  border-right: 1px solid #fff;
  align-content: center;

  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  padding: 0 125px 0 93px;
  line-height: 48px;
  letter-spacing: 2px;

  flex-grow: 1;
}
.footer .section-2 p {
  /* margin: 0 auto; */
  margin-right: auto;
}
.footer .section-3 {
  width: 500px;
  margin-left: auto;
  display: flex;
  /* justify-content: right; */
  flex-direction: column;
  align-items: flex-end;

  flex-grow: 1;
}
.footer-img {
  width: 85%;

  /* margin-left: auto; */
  margin-top: 20px;
}
.footer-img img {
  width: 100%;
}
.footer .copy-right {
  text-align: center;

  padding: 20px 0 30px 0;

  color: #fff;

  font-size: 2.9rem;
}


@media screen and (max-width: 1200px) {
  .nav-bar-item a {
    font-size: 20px;
  }
  .footer .main-content {
    flex-wrap: wrap;
  }
  .footer .main-content .section-1{
    width: 40%;
    padding: 0;
    text-align: center;
    border-left: 1px solid #fff;
  }
  .footer .main-content .section-2{
    width: 60%;
    padding: 0 40px;
  }
  .footer .main-content .section-3{
    width: 60%;
    margin: 0 auto;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .footer-img {
    width: 50%;
  }
}
@media screen and (max-width: 960px) {
  .nav-bar-item a {
    font-size: 16px;
  }
  .nav-bar-right .search-item {
    display: none;
  }
  .nav-bar-right .search-icon {
    border: none;
  }
}
@media screen and (max-width: 770px) {
  .nav-bar-sm {
    width: 100%;
    display: flex;
  }
  #storage-icon {
    display: none;
  }
  .storage-container {
    flex: 1;
    margin: auto;
  } 
  .brand {
    flex: 3;
  }
  .brand img {
    width: 150px;
    display: block;
    margin: auto;
    margin-top: 2.5px;
  }
  .nav-sm-slot {
    flex: 1;
  }
  .nav-bar-left , .nav-bar-right {
    display: none;
  }
  /* ---------small-nav-------------- */
  .small-nav {
    top: 200px;
    right: 50px;
    max-width: 4%;
  }
  .footer .section-1 li {
    /* margin: 27px 0 27px 25px; */
    font-size: 27px;
    padding: 27px 0;
  }
  .footer .main-content .section-1 {
    width: 100%;
    border: none;
    align-items: center;
    padding: 70px 0 50px 0;
    border-bottom: 4px solid #fff;
  }
  .footer .main-content {
    border-bottom: 4px solid #fff;
  }

  .footer .main-content .section-2 {
    width: 100%;
    border: none;
    align-items: center;
    margin: 79px 0 40px 0;
  }
  .footer .section-2 p{
    margin: 0;
    font-size: 22px;
    font-weight: 300;
    line-height: 38px;
  }
  .footer-img {
    width: 80%;
    margin-bottom: 88px;
  }
  .footer .copy-right {
    font-size: 20px;
    font-weight: 500;
    
    padding: 66px 0;
  }
}