.nav-bar {
  display: flex;
  align-content: center;

  text-align: center;
  height: 80px;
}

.nav-bar-left {
  display: flex;
  align-content: center;

  text-align: center;

  flex: 3;

}

.nav-bar-item {
  flex: 1;

  /* font-size: 1.5rem; */
  font-weight: 500;

  line-height: 40px;

  padding: 20px 0;

}
.nav-bar-item a {
  font-size: 2.3rem;
}
.nav-bar-item+.nav-bar-item {
  font-size: 2.3rem;

}

.nav-bar-item:hover {
  cursor: pointer;
}

.nav-bar-right {
  flex: 1;

  display: flex;
}

/* -------------------small-nav-------------------- */

.small-nav {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 200px;
  right: 39px;

  z-index: 100;
}

.small-nav a{
  margin: 13px 0;
}













/* -------------------swiper-------------------- */
.swiper {
  display: flex;
  justify-content: center;

}

.swiper .left-icon {
  width: 40px;

  display: flex;
  align-items: center;
}

.swiper .left-icon img {
  width: 100%;
}

.swiper .right-icon {
  width: 40px;

  display: flex;
  align-items: center;
}

.swiper .right-icon img {
  width: 100%;
}





/* ----------------footer---------------- */
.footer {
  background-color: #046882;
  color: #fff;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
}
.footer .main-content {
  width: 90%;
  margin: 0 auto;

  padding: 40px 0 20px 0;
  border-bottom: 1px solid white;

  display: flex;
  /* flex-direction: ; */
  
}

.footer .section-1 {
  width: 280px;
  border-right: 1px solid #fff;

  display: flex;
  flex-direction: column;

  /* align-content: space-between; */
  justify-content: space-around;

  padding: 0 1% 0 3%;
  /* text-align: center; */
  font-size: 2.5rem;
}
.footer .section-1 li {

  /* margin: 27px 0 27px 25px; */
}

.footer .section-2 {
  width: 620px;
  border-right: 1px solid #fff;
  align-content: center;

  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  padding: 0 125px 0 93px;
  line-height: 48px;
  letter-spacing: 2px;
}
.footer .section-2 p {
  /* margin: 0 auto; */
  margin-right: auto;
}
.footer .section-3 {
  width: 500px;
  margin-left: auto;
  display: flex;
  /* justify-content: right; */
  flex-direction: column;
  align-items: flex-end;

}
.footer-img {
  width: 85%;

  /* margin-left: auto; */
  margin-top: 20px;
}
.footer-img img {
  width: 100%;
}
.footer .copy-right {
  text-align: center;

  padding: 20px 0 30px 0;

  color: #fff;

  font-size: 2.9rem;
}