.nav-bar {
  display: flex;
  align-content: center;

  text-align: center;
  height: 80px;

}

.nav-bar-left {
  display: flex;
  align-content: center;

  text-align: center;

  flex: 3;

}

.nav-bar-item {
  flex: 1;

  font-size: 1.5rem;
  font-weight: 500;

  line-height: 40px;

  padding: 20px 0;

}

.nav-bar-item+.nav-bar-item {
  font-size: 18px;

}

.nav-bar-item:hover {
  cursor: pointer;
}

.nav-bar-right {
  flex: 1;

  display: flex;
}
/* -------------------swiper-------------------- */
.swiper {
  display: flex;
  justify-content: center;

}

.swiper .left-icon {
  width: 40px;

  display: flex;
  align-items: center;
}

.swiper .left-icon img {
  width: 100%;
}

.swiper .right-icon {
  width: 40px;

  display: flex;
  align-items: center;
}

.swiper .right-icon img {
  width: 100%;
}





/* ----------------footer---------------- */
.footer {
  background-color: blue;
}
.footer .main-content {
  width: 80%;
  margin: 0 auto;

  padding: 40px 0 20px 0;
  border-bottom: 1px solid white;

  display: flex;
  /* flex-direction: ; */
}

.footer .section-1 {
  width: 200px;
  border-right: 1px solid #fff;

  display: flex;
  flex-direction: column;

  /* align-content: space-between; */
  justify-content: center;

  /* text-align: center; */
}

.footer .section-2 {
  width: 560px;
  border-right: 1px solid #fff;
  align-content: center;

  display: flex;
  flex-direction: column;
}

.footer .section-3 {
  width: 490px;
}

.footer .copy-right {
  text-align: center;

  padding: 20px 0 30px 0;
}