html {
  font-size: 10px;
}

h1 {
  font-size: 4.8rem;
}

p {
  font-size: 2.9rem;
}
/* banner--------------------------------- */
.banner {
  position: relative;
}

.banner .pic {
  width: 100%;
  vertical-align: middle;
}

.banner .content {
  position: absolute;
  bottom: 50%;
  left: 0;
  transform: translateY(50%);

  width: 70%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;

  text-align: center;

  background-color: rgba(236, 240, 241, 0.5);

  padding: 65px 0;

}
.banner h1 {
  color: #040000;

  margin-bottom: 44px;
}
.banner .paragraph {
  width: 40%;
  margin: 0 auto;

  font-size: 2.5rem;
  line-height: 54px;
  font-weight: normal;
}

/* -----shortBanner */
.short-banner .summary {
  padding: 120px 0;
}
.short-banner h1 {
  text-align: center;
  font-size: 4.2rem ;
  line-height: 1.79;
  color: #040000;
}

/* -----------Section--------- */
.section {
  display: flex;
}
/* --------------sectionImg----------- */
.section .pic {
  width: 60%;
  /* order: 2; */
}

.section .pic img {
  width: 100%;
  vertical-align: middle;
}

.section .content {
  flex: 1;

  display: flex;
}

.section .main {
  width: 80%;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-content: flex-start; */
  /* text-align: right; */
}
.section .main h1 {
  font-size: 4.9rem;
  letter-spacing: 3.9px;
  font-weight: 600;
  color: #040000;
}
.section .main p {
  font-size: 3.2rem;
  letter-spacing: 2.4px;
  font-weight: normal;
  line-height: 2;
  color: #040000;

  margin-top: 70px;
}
.section:nth-child(2n) .pic {
  order: 2;
}

.section:nth-child(2n+1) .content h1 {
  text-align: right;
}

@media screen and (max-width: 1200px) {
  html {
    font-size: 8px;
  }
  .banner .content {
    padding: 15px 0;
  }
  .banner h1 {
    margin-bottom: 20px;
  }
  .section .main {
    width: 90%;
  }
  .section .main p {
    line-height: 1.75;
    margin-top: 35px;
  }
}

@media screen and (max-width: 960px) {

  /* padding: 10px; */
  html {
    font-size: 7px;
  }
  .banner .paragraph {
    line-height: 30px;
  }
}
@media screen and (max-width: 770px) {

  /* padding: 10px; */
  html {
    font-size: 6px;
  }
  .banner .paragraph {
    font-size: 3rem;
    width: 60%;
  }
  /* --------------section----------- */
  .section {
    flex-wrap: wrap;
  }
  .section .pic {
    width: 100%;
  }
  .section:nth-child(2n) .pic {
    order: 0;
  }

  .section .content {
    margin: 90px 0;
  }
  .section .main .title {
    width: 80%;
    margin: 0 auto;
  }
  .section .main p {
    width: 80%;
    margin: 70px auto 0;
  }
}