html {
  font-size: 10px;
}

h1 {
  font-size: 4.1rem;
  color: #231815;
  font-weight: 300;
}
h2 {
  font-size: 3rem;
  color: #231815;
  font-weight: 300;

}
p {
  font-size: 2.9rem;
}


.cart-main .wrapper {
  display: flex;
  flex-direction: column;
}

.cart-main .title {
  text-align: center;
  margin: 66px 0;
}

.cart-main .wrapper {
  width: 85%;
  margin: 0 auto;
  border: 1px solid black;
}

.cart-main .invoice {
  width: 87%;
  margin: 0 auto;


}
.invoice .top {
  display: flex;
  /* height: 105px; */
  margin: 71px 0;
  background: #eee;
}
.invoice .top .pic {
  flex: 2;
}
.invoice .top h2 {
  flex: 1;
  margin: 38px 0;
  text-align: center;

}
.invoice .top .shop-num-title {
  flex: 0.75;
  /* margin: 38px 0;
  text-align: center; */

}

.invoice .item {
  display: flex;
  align-items: center;

  word-break: break-all;
  margin: 48px 0;
}
.invoice .item .pic {
  flex: 2;
}
.invoice .item img {
  width: 100%;
  vertical-align: middle;
}
.invoice .item h2 {
  flex: 1;
  text-align: center;
}
.invoice .item-price-md {
  flex: 1;
  display: none;
}
.invoice .item .counter {
  flex: 0.75;
  display: flex;
  justify-content: space-around;

  border: 1px solid black;
}
.invoice .counter button{
  border: none ;
  /* width: 30%; */
  font-size: 2.8rem;
  background-color: #fff;
}
.invoice .counter .shop-num {
  font-size: 2.8rem;
}
.invoice .item-sum-md {
  flex: 1;
  display: none;
}
/* ----------------cart-final--------------------- */
.cart-final {
  width: 85%;
  margin: 100px auto;
  padding: 20px 0;

  background-color: #ddd;
}
.cart-final .wrapper {
  width: 87%;
  margin: 0 auto;

}

.cart-final .section {
  display: flex;
  justify-content: space-between;
  margin: 34px 0;
}
.cart-final .section h1:last-child {
  color: #e73418;
}
/* ---------------btnArea-------------- */

.cart-btn-area {
  width: 85%;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
}

.cart-btn-area .btn {
  width: 47%;
  font-size: 28px;
  color: #fff;
  padding: 15px 0;
  margin-bottom: 97px;
  border: none;
}
.cart-btn-area .btn:first-child {
  background-color: black;
}
.cart-btn-area .btn:last-child {
  background-color: #c4143e;
}






@media screen and (max-width: 1200px) {
  html {
    font-size: 8px;
  }
  /* -------------footer----------- */
  .footer .main-content {
    /* flex-wrap: wrap; */
  }
  .footer .section-2 {
    padding: 0 32px;
  }




}

@media screen and (max-width: 960px) {

  /* padding: 10px; */
  html {
    font-size: 7px;
  }
  .item-price-lg {
    display: none;
  }
  .item-price-md {
    display: block !important;
  }
  .item-sum-lg {
    display: none;
  }
  .item-sum-md {
    display: block !important;
  }
}