html {
  font-size: 10px;
}

h1 {
  font-size: 4.8rem;
}

p {
  font-size: 2.9rem;
}

/* ---------------------banner---------------------- */
.banner .title {
  text-align: center;
  font-size: 3.4rem;
  color: #020202;
  font-weight: 500;
  margin: 65px 0;
}

.banner .container {
  width: 100%;
  position: relative;

  display: flex;
}

.banner .pic {
  width: 80%;
  margin: 0 auto;

  vertical-align: middle;
}


/* -----------------keywords--------------------------- */
.key-words {
  width: 70%;

  display: flex;
  justify-content: space-between;

  margin: 130px auto;
}
.key-words h1 {
  font-size: 4rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.45;
  letter-spacing: normal;
  text-align: left;
  color: #231815;

  /* margin-right: 110px; */
}

.key-words .btn {
  border: 1px solid black;
  border-radius: 3px;

  /* width: 184px; */
  font-size: 3.3rem;

  color: #060001;
  background-color: #fff;
  padding: 0 30px;
}



/* ---------artilclelist------------------- */
.article-list {
  width: 85%;
  margin: 35px auto;
}

.Item {
  width: 85%;
  margin: 0 auto;
}


/* ---------articleItem---------- */
.article-item {
  width: 100%;
  display: flex;

  margin: 50px auto;
}

.article-item .pic {
  width: 52%;
}
.article-item .pic img {
  width: 100%;
}

.article-item .content {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.article-item .content h2 {
  font-size: 3.2rem;
  color: #231815;
  font-weight: 300;
}
.article-item .content h1 {
  color: #231815;
  font-weight: 300;
  font-size: 4.6rem;
  line-height: 1.77;

}
.article-item .content p {
  color: #231815;
  font-weight: 300;
  font-size: 2.6rem;
  line-height: 2.33;

}
.article-item .main {
  margin-left: 50px;
}

.article-item .continue {
  margin: auto 0 20px 0;
  text-align: right;
}
.article-item .continue .continue-icon {
  display: inline-block;
  height: 21px;
  vertical-align: middle;
}


/* -----------------articlenav-------------- */
.article-nav {
  display: flex;
  justify-content: center;
  width: 60%;
  margin: 128px auto;
}
.article-nav .btn {
  margin: 0 3px;
  border: 1px solid black;
  padding: 0;
  width: 65px;
  height: 65px;
}

.article-nav .page-nav {
  display: flex;
  flex: 10;
}

.article-nav .page-nav li {

  width: 60%;
  text-align: center;

  /* line-height: 40px; */
  display: flex;
  justify-content: center;
  align-content: center;
}

.article-nav .page-nav span {
  /* margin-top: auto ; */
  display: block;
  margin: auto;

  font-size: 2.6rem;
  color: #070606;
}


@media screen and (max-width: 1200px) {
  html {
    font-size: 8px;
  }
  h1 {
    font-size: 4.2px;
  }
  .banner .title {
    margin: 45px 0;
  }
  .key-words {
    width: 80%;
    margin: 80px auto;

  }
  /* --------------article------------ */
  
  .article-item .content h1 {
    font-size: 4rem;
  }
  .article-nav {
    margin: 70px auto;
  }
  .article-nav .btn {
    width: 55px;
    height: 55px;
  }
}

@media screen and (max-width: 960px) {
  html {
    font-size: 7px;
  }
  .key-words {
    width: 90%;
  }
  .article-nav {
    width: 80%;
  }
  .article-nav .btn {
    width: 45px;
    height: 45px;
  }
}

@media screen and (max-width: 770px) {
  html {
    font-size: 6px;
  }
  .banner .title {
    margin: 24px 0;
  }
  .banner .pic {
    width: 95%;
  }
  .key-words {
    margin: 24px auto 0 auto;
  }
  .key-words h1{
    font-size: 2.5rem !important;
    text-align: center;
    line-height: 30px;
  }
  .key-words .btn{
    font-size: 2.5rem !important;
    padding: 6px 27px;
  }
  /* -------------article-item 矯正文字------------ */
  .article-item h2{
    font-size: 3rem !important;
  }
  .article-item h1{
    font-size: 5rem !important;
  }
  .article-item p{
    font-size: 2.3rem !important;
  }
  .article-item .continue{
    font-size: 4rem !important;
  }
  /* -------------/article-item 矯正文字------------ */

  /* ------------article-item 排版-------------- */
  .article-item {
    flex-direction: column;
  }

  .article-item .pic {
    width: 95%;
    margin: 0 auto;
  }
  .article-item .main{
    display: flex;
    flex-wrap: wrap;

    margin: 0;
    margin-top: 53px;
  }
  .article-item .main h2 {
    order: 0;
    width: 10%;
    flex-grow: 1;
    line-height: 32px;

    text-align: right;
    padding-right: 30px;
  }
  .article-item p {
    order: 1;
    width: 35%;
    flex-grow: 1;
  }
  .article-item .title {
    order: 2;
    text-align: center;
    width: 100%;

    margin: 50px auto;
  }
  .article-item .continue {
    text-align: center;
  }

  .article-nav {
    width: 100%;
    
  }





}







