html {
  font-size: 10px;
}

h1 {
  font-size: 4.8rem;
}

p {
  font-size: 2.9rem;
}

.Intro-section {
  display: flex;
}

.Intro-section .img {
  width: 45%;

}

.Intro-section .img img {
  width: 100%;
  vertical-align: middle;
}

.Intro-section .content-wrapper {
  /* font-size: 3rem; */
  width: 55%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Intro-section .content {
  width: 60%;
}
.Intro-section .content p{
  line-height: 64px;
}

.Intro-section button {
  border: 1px solid black;
  font-size: 2.9rem;
  background-color: #fff;
  padding: 10px 60px 10px 15px;
}

/* ---------------------Goods------------------------- */
.goods-section {
  width: 100%;
  display: flex;
}
.goods-item {
  margin: 30px;
}

.goods-section .pic {
  width: 100%;
}

.goods-section .pic img {
  width: 100%;
}

.goods-section .text {
  display: flex;
  flex-direction: column;

  align-content: center;
  justify-content: center;
  text-align: center;

  margin: 75px 0;
}

.goods-section .title {
  width: 80%;
  margin: 0 auto;

  font-size: 3rem;
}

.goods-section .content {
  width: 60%;
  margin: 40px auto;

  font-size: 2.7rem;
  line-height: 45px;
}

.goods-section .btn-area {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.goods-section .btn-area .btn {
  width: 45%;

  font-size: 2.5rem;
  padding: 1rem 0;

  color: #383838;
  background-color: #ebc262;
  border: none;
  border-radius: 3.5%;
}



@media screen and (max-width: 1200px) {
  html {
    font-size: 8px;
  }
  .goods-section .text {
    margin: 25px 0;
  }
  .goods-section .content {
    width: 90%;
    margin: 10px auto;
  }
}

@media screen and (max-width: 960px) {

  /* padding: 10px; */
  html {
    font-size: 7px;
  }

}