.nav-bar {
  width: 95%;
  margin: 0 auto;

  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-left {
  flex: 1;
  /* padding: 15px; */
  /* margin-left: 15px; */
}
.nav-left label {
  display: block;
}
.nav-left input {
  display: none;
}
.nav-left img {
  width: 24px;
  margin-left: 15px;
}
.nav-center {
  /* width: calc(100% - 24px); */
  /* margin-left: auto; */
  flex: 2;
  text-align: center;
}
.nav-center h1 {
  font-weight: 800;
}
.nav-right {
  flex: 1;
}




